<?xml version='1.0' encoding='utf-8'?>
<widget id="de.appplant.cordova.plugin.badge.example" version="0.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BadgeExample</name>
    <description>
        Cordova plugin to access and modify the badge number
    </description>
    <author email="katzer@appplant.de" href="http://appplant.de">
        Sebastián Katzer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-x-toast" spec="^2.7.0" />
    <engine name="windows" spec="^5.0.0" />
    <engine name="android" spec="^7.1.2" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="osx" spec="^4.0.2" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-badge" spec="^0.8.8" />
</widget>
