<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="de.appplant.cordova.plugin.badge"
        version="0.4.1dev">

    <name>Badge</name>

    <description>A bunch of badge notification plugins for Cordova 3.x.x</description>
    <keywords>badge, notification, live tiles, ios, windows phone 8, wp8</keywords>
    <license>LGPL v2.1 License</license>

    <author>Sebastián Katzer (github.com/katzer)</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/badge.js" name="Badge">
        <clobbers target="plugin.notification.badge" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
    		<feature name="Badge">
    			<param name="ios-package" value="APPBadge"/>
    		</feature>
        </config-file>

    	<header-file src="src/ios/APPBadge.h" />
    	<source-file src="src/ios/APPBadge.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Badge">
                <param name="wp-package" value="Badge"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Badge.cs" />
    </platform>
</plugin>
